.pie-chart-header {
    float: left;
    width: 100%;
}

.pie-header-title {
    float: left;
    margin-left: 10px;
}

.pie-header-button {
    float: left;
    margin-left: 10px;
    cursor: pointer;
}

.pie-header-button::after {
    content: ' ';
    width: 16px;
    height: 16px;
    background-image: url('triangle.png');
    position: absolute;
    margin-left: 2px;
    margin-top: -2px;
}

.pie-header-message {
    float: right;
    margin-right: 10px;
}

.hs-tooltip {
    border: 1px solid #E0E0E0;
    background: #fff;
    box-shadow: 2px 2px 2px #666;
    padding: 2px;
}

.tooltip-container {
    user-select: none;
    cursor: default;
    padding: 5px 10px;
    font-family: "微软雅黑"
}

.filter-1 {
    opacity: 1;
}

.filter-2 {
    opacity: .8;
}

.filter-3 {
    opacity: .6;
}

.inner-text {
    font-size: 110%;
    font-weight: bold;
    user-select: none;
    cursor: default;
}

.outer-text {
    font-size: 90%;
    user-select: none;
    cursor: default;
}

.outer-line {
    stroke: #666;
    stroke-width: 1.5px;
}