body {
    font-family: "Microsoft Yahei", "\5FAE\8F6F\96C5\9ED1", tahoma, arial, verdana, sans-serif;
    font-size: 0.5em;
}
svg {
    user-select: none;
}

.axis .grid-line {
    stroke: #eee;
}

.axislabel {
    fill: #999;
} 

.dots {
    fill-opacity: 1;
    stroke-opacity: 1;
    cursor: pointer;
}

.dots:hover {
    fill-opacity: 0.5;
    stroke-opacity: 1;
}

g.tick line {
    stroke: #aaa;
}

g.tick text {
    fill: #999;
}

.legend-label:hover {
    cursor:pointer;
}

.legendtext {
    font-size: 0.9em;
}

.hidetypes {
    opacity: 0;
}

.showtypes{
    opacity: 1;
}

g.axis path {
    stroke: #aaa;
}

.selected-rect {
    stroke: #4F8FCE;
    fill: #4F8FCE;
    fill-opacity: .2;
}

.tooltip {
    position: absolute;
    border: 1px solid #E0E0E0;
    background: #fff;
    box-shadow: 2px 2px 2px #666;
    padding: 2px;
}

.hidden {
    visibility: hidden;
}

.control-group {
    margin: 9px 40px;
}