body > * {
    width: 800px;
    margin: 20px auto;
}
.container {
    height: 400px;
    border: 1px solid black;
    position: relative;
}
.form-header {
    font-weight: bold;
    font-size: 1.5em;
}
.control-bar {
    position: absolute;
    bottom: 20px;
    left: 10px;
}

.control-bar > * {
    display: block;
    margin: 5px;
    cursor: pointer;
}

.control-bar > *:hover {
    background-color: #eee;
}

.tooltip {
    position: absolute;
    box-shadow: 2px 2px 4px;
    background: white;
    padding: 5px 10px;
    white-space: nowrap;
}