.lineChart-area1 {
  fill:  rgba(107, 183, 199, 0.6);
  z-index: 1;
}
.lineChart-areaLine1 {
  fill: none;
  stroke: #6bb7c7;
  stroke-width: 3;
}
.lineChart-circle1 {
  fill: #6bb7c7;
  stroke: #fff;
  stroke-width: 3;
}
.lineChart-area2 {
  fill:  rgba(91, 177, 47, 0.6);
  z-index: 2;
}
.lineChart-areaLine2 {
  fill: none;
  stroke: #5bb12f;
  stroke-width: 3;
}
.lineChart-circle2 {
  fill: #5bb12f;
  stroke: #fff;
  stroke-width: 3;
}
.lineChart-area3 {
  fill:  rgba(224, 81, 81, 0.6);
  z-index: 3;
}
.lineChart-areaLine3 {
  fill: none;
  stroke: #e05151;
  stroke-width: 3;
}
.lineChart-circle3 {
  fill: #e05151;
  stroke: #fff;
  stroke-width: 3;
}
.lineChart-svg {
  border: 1px solid #eee;
}

.lineChart-xAxisTicks .tick line,
.lineChart-yAxisTicks .tick line {
  fill: none;
  stroke: #b3b3b3;
  stroke-width: 1;
}
.mouseline{
  fill: none;
  stroke: #b3b3b3;
  stroke-width: 2;
}
.lineChart-tooltip {
    position: absolute;
    border: 1px solid #fff;
    background: #fff;
    box-shadow: 2px 2px 2px #666;
    padding: 2px;
    opacity: 1;
    font-size: 10px;
}
.click{
    cursor: pointer;
}
.hidden {
    visibility: hidden;
}
.lineChart-header {
    float: left;
    width: 100%;
}

.lineChart-header-title {
    float: left;
    margin-left: 10px;
}

.lineChart-header-button {
    float: left;
    margin-left: 10px;
    cursor: pointer;
}

.lineChart-header-button::after {
    content: ' ';
    width: 16px;
    height: 16px;
    background-image: url('triangle.png');
    position: absolute;
    margin-left: 2px;
    margin-top: -2px;
}

.lineChart-legend {
    width: 100%;
    text-align: center;
}
.legend-label {
    display: inline-block;
    color: #666;
    text-align:center;
    height:24px;
    margin-right:15px;
    cursor:pointer;
}
.legend-button{
    display: inline-block;
    border-radius: 2px;
    width:16px;
    height: 16px;
    margin-right:4px;
    vertical-align:middle;
}
.legend-text {
    vertical-align:middle;
    font-size: 0.9em;
}
.legend-hide{
  background-color: #999;
}